History
*.IntLib\
*.SchDocPreview
*.PcbDocPreview
*.tmp
*.TMP
*.zip
*.rar
*.o
*.d
*.crf
*Preview
*.Annotation
*.LOG
*viewstate
*.htm
*.PrjPCBStructure
*.wmf
*.dionn
*.ini
*.axf
*.hex
*.dep
*.map
*.lnp
*.bak
*.sct
*.dbgconf
main-d.txt
main-h.txt
main-nm.txt
main-St.txt
main.elf
main.hex
main.map
ENNOID-BMS.bin
.vscode
tools/
